In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv('creditcard.csv')

In [4]:
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
#Checking missing values in each column

df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
# Impute missing values with the mean of the column
df['V23'].fillna(df['V23'].mean(), inplace=True)
df['V24'].fillna(df['V24'].mean(), inplace=True)
df['V25'].fillna(df['V25'].mean(), inplace=True)
df['V26'].fillna(df['V26'].mean(), inplace=True)
df['V27'].fillna(df['V27'].mean(), inplace=True)
df['V28'].fillna(df['V28'].mean(), inplace=True)
df['Amount'].fillna(df['Amount'].mean(), inplace=True)
df['Class'].fillna(df['Class'].mean(), inplace=True)

In [8]:
df['Class'] = df['Class'].astype(int)

In [9]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [10]:
#Data is imbalanced as 0---> Normal data is Huge and 1--->Fraud Data is Low
#So it will predict every transaction as normal one .

# Hence , Splitting data into 0 and 1 for analysis

LegitData = df[df.Class==0]
FraudData = df[df.Class==1]

In [11]:
print(LegitData.shape)
print(FraudData.shape)

(284315, 31)
(492, 31)

In [12]:
#Statistical Measure of Data

#Legit Amount data Analysis

LegitData.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [13]:
#Fraud Amount data analysis

FraudData.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [14]:
#Compare Values for both Transaction

df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [15]:
#Build a samle dataset of Legit Transaction and Fraud Transaction
#Fraud Transaction are 103
#We will choose 103 random Transaction from legit transaction and join in legit data
#This makes a uniformly distributed dataset which is good for modelling

Legit_sample = LegitData.sample(n=103)

In [16]:
#Concantetanate 2 DataFrame

newdf = pd.concat([Legit_sample,FraudData],axis=0)

In [17]:
newdf.tail(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [18]:
newdf['Class'].value_counts()

1    492
0    103
Name: Class, dtype: int64

In [19]:
#Compare Values for both Transaction
#If values are highly different then it is a bad sample
#If values are almost same then it is a good sample
#Below we are getting almost similiar data as of the old imbalanced dataset and newly created dataset

newdf.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95762.699029,-0.262662,0.199646,-0.097755,0.134848,-0.158643,-0.056195,-0.001111,-0.001724,0.180835,...,0.032879,0.173446,-0.086578,0.028810,-0.016126,0.012081,-0.068792,0.015917,0.009574,112.340583
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
#Split Data into Features and Target
# Axis=0 represent ROW and Axis=1 represent COLUMN

X = newdf.drop(columns='Class' , axis=1)
y = newdf['Class']

In [21]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
192185  129576.0  2.060880 -0.093153 -2.470178  0.210748  0.955486 -0.698510
235930  148601.0  1.874084 -0.403813 -2.069701  0.078586  0.567743 -0.414413
272792  165270.0 -1.312167  1.850694 -0.472980 -1.127021  0.382008 -0.675297
105782   69684.0  0.550394 -1.373362  0.820151  0.422782 -1.064532  0.996608
153546   99389.0 -1.221850  1.644994  3.014812  4.209079 -0.262315  1.965578
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
192185  0.712352 -0.381086  0.476416  ... -0.160855  0.109143  0.392025
235930  0.427129 -0.183500  0.475651  ... -0.029121  0.175153  0.352079
272792  0.848899  0.026446  0.853800  ...  0.758846 -0.413414 -0.654667
105782 -0.580717  0.446138  0.917698  ...  0.382266  0.033085 -0.257218
153546 -0.539144  0.480638  0.638663  ...  0.699810 -0.091406  0.522765
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
192185 -0.158419  0.062931  0.623634 -0.059220 -0.067813 -0.067728   52.09
235930 -0.115108  0.193803  0.372825 -0.548712 -0.042009 -0.049993  112.00
272792  0.094291 -0.436768 -0.151607  0.172483  0.869615  0.459370    2.58
105782 -0.104129 -0.217795 -0.156035  0.925506 -0.056883  0.044252  279.69
153546 -0.167182  0.655830  0.059614  0.462864  0.538468  0.121739   14.86
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[595 rows x 30 columns]

In [22]:
print(y)

192185    0
235930    0
272792    0
105782    0
153546    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 595, dtype: int32

In [23]:
#Split Data into Training Data and Testing Data

X_train , X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [24]:
print(X.shape , X_train.shape , X_test.shape)

(595, 30) (476, 30) (119, 30)

In [25]:
#Model Training

model = LogisticRegression(max_iter=1000)

#Training the model with training data

model.fit(X_train , y_train)

LogisticRegression(max_iter=1000)

In [26]:
#Model Evaluation for Training Data

#Accuracy Score
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction , y_train)

In [27]:
print("Accuracy on Training Data : " , training_data_accuracy )

Accuracy on Training Data :  0.9453781512605042

In [28]:
#Model Evaluation for Testing Data

#Accuracy Score
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction , y_test)

In [29]:
print("Accuracy on Training Data : " , testing_data_accuracy )

Accuracy on Training Data :  0.8991596638655462